name: CI -Train and Save the Model

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  matix-pip:
    name: Train and Save the Model
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        python-version: [3.11,3.12]
      steps:
        - name: Checkout 
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v4
          with: 
            python-version: ${{ matrix.python-version }}

        - name: Upgrade pip
          run: python -m pip install --upgrade pip setuptools wheel

        - name: Install dependencies
          run: pip install -r requirements.txt

        - name: Train the Model
          run: |
            python train.py
            ls -la artifacts

        - name: Upload artifacts
          uses: actions/upload-artifacts@v4
          with:
            name: ml-artifacts-${{ matrix.python-version }}-${{ github.run.id }}
            path: artifacts